RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^\w+$ Index.php?Page=$0 [L]
RewriteCond %{THE_REQUEST} Index\.php
RewriteCond %{QUERY_STRING} ^Page=(\w+)$
RewriteRule ^Index\.php$ /%1? [R=301,L]
RewriteRule ^Article/([\w-]+)$ Index.php?Page=Article&Title=$1